*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#topbar{
    background-color: aqua;
    color: red;
    display: flex;
    height: 50px;
    align-items: center;
}

#topbar_btn{
    color: black;
    display: flex;
    align-items: center;
    margin-right: 8px;
    justify-content: space-between;
      
}

#logo{
    color: red;
    display: flex;
}

