*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#topbar{
    background-color: aqua;
    color: red;
    display: flex;
    height: 50px;
    align-items: center;
}

#logo{
    color: red;
    display: flex;
}

#topbar_btn{
    color: black;
    display: flex;
    align-items: center;
    
   
}

#lang{
    color: black;
}

.vertical{
    color: black;
}